body {
    height: 1912px;
    width: 1440px;
    margin: 0px;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
   
    
}

.footer {
    height: 90px;
    color: white;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.header-area {
    color: white;
    background-color: #1F2937;
    margin: 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#header {
    display: flex;
    margin-left: 128px;
    padding: 8px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 16px;
    list-style: none;
}

.links {
    margin-left: auto;
    margin-right: 128px;
}

.hero-area {
    margin-top: 48px;
    display: flex;
}

.hero-left {
    display: flex;
    flex-direction: column;
    max-width: 375px;
    margin-left: 136px;
    margin-bottom: 56px;

}

.hero-text {
    font-size: 18px;
    color: #E5E7EB;
} 

.hero-main {
    font-size: 48px;
    font-weight: 900;
} 

.signup {
    color: white;
    background-color: #3882F6;
    width: 100px;
    margin-top: 8px;
    border-radius: 8px;
    font-size: 90%;
    font-weight: 700;
    border: 0;
    padding: 8px;

}

.gray-box {
    margin-left: auto;
    margin-right: 128px;
    margin-bottom: 56px;
    max-height: 200px;
    width: 450px;
    padding: 8px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;

}


.random-info {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.img-box {
    width: 150px;
    height: 150px;
    border: 8px solid #3882F6;
    border-radius: 8px;
}

.rinfo-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 32px;
    margin-bottom: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
   
}

.item {
    width: 150px;
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.item-text {
    font-size: 18px;
}

.quote-area {
    display: flex;
    justify-content: center;
    flex: 1;
    background-color: #E5E7EB;
}

.quote-box {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    
}

.quote {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-style: italic;
}

.quoted {
    margin-top: 16px;
}

.cta-area {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.cta {
    width: 900px;
    height: 200px;
    color: white;
    border-radius: 8px;
    background-color: #3882F6;
    display: flex;

}

.cta-text {
    font-size: 18px;
}
.cta-left {
    margin-left: 80px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.cta-right {
    display: flex;
    margin-left: auto;
    margin-right: 80px;
    align-items: center;
    flex-shrink: 0;
}

.cta-bold {
    font-weight: bold;
    font-size: 24px;

}

.signup-2 {
    background-color: #3882F6;
    color: white;
    width: 100px;
    margin-top: 8px;
    border-radius: 8px;
    border: 2px solid white;
    font-size: 100%;
    font-weight: 700;
    padding: 8px;
}


